@font-face {
    font-family: "SF Pro Text";
    src: url("/assets/fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/assets/fonts/SF-Pro-Display-Regular.otf");
}
