$primary-color: #964800;
$secondary-color: #8b643f;

$background-dark: #333;
$background-light: #fdfdfd;
$background-grey: #eeeeee;

$text-on-dark: #fdfdfd;
$text-on-light: #151515;

$success-color: rgb(95, 170, 52);
$warning-color: rgb(197, 166, 29);
$danger-color: rgb(180, 58, 49);


$box-shadow-normal: 0px 5px 10px #0003;
$drop-shadow-normal: 0px 10px 15px #0002;
